{% extends "inicio/encabezado.html" %}
{% block titulo %}  {% endblock %}
{% block encabezado %}
    <div class="page-header"><div class="page-title"><h3>Contáctanos <small>Modificando Comentario</small></h3></div></div>
{% endblock %}
{% block contenido %}
<div class="page-content">
    <form class="form-horizontal" action="{% url 'Editar' comentario.id%}" method="POST" role="form">
        {% csrf_token %}
        <div class="panel">
            <div class="form-group">
                <label>Nombre:</label>
                <input value={{comentario.usuario}} name="usuario" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Mensaje:</label>
                <textarea name="mensaje" cols="50" rows="10" class="form-control">{{comentario.mensaje}}</textarea>
            </div>
            <div class="form-actions" style="margin-top: 20px; text-align: right;">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}